body{
    font-family: "brandon-grotesque", sans-serif;
    box-sizing: border-box;
    margin: auto;
    height: auto;
    width: 750px;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: goldenrod;
    font-size:x-large;
    margin-top: 0;
    padding: 5px;
}
.container {
    height: 400px;
    width:  400px;
    border: solid 10px black;
    border-radius: 10px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items:center; 

}
.schoolBag{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
   
}
/* #sumit{
    height: 20px;
    width: 60px;
} */
.grid{
    background-color: #add8e6;
    display: flex;
    justify-content: center; 
    align-items: center; 
     
}
.grid:hover{
    opacity: 0.7;
    background-color: #0052ce;
    transition: 500ms ;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.staionary{
   
    margin: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.staionary > * {
    margin: 5px 0;
}
.staionary button{
    margin-left: 5px;    
}
.staionary button:hover{
    background-color: rgb(0, 119, 255);
    color: beige;
}